/*---------------------------------------------------------
	1. Reset
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*---------------------------------------------------------
	Body and links
------------------------------------------------------------ */
body {
	font-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
	color: #6d6455;
	background: #e3e2ce url(/images/bg.png);
}
a:link,
a:visited {
	color: #494339;
	text-decoration: underline;
}
a:hover {
	color: #39342c;
}

/*---------------------------------------------------------
	Basic Structure
------------------------------------------------------------ */
#wrapper {
	max-width: 560px;
	margin: 0 auto;
	padding: 0 20px;
}
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*---------------------------------------------------------
	Header
------------------------------------------------------------ */
#header {
	margin: 0 0 20px 0;
	padding: 20px;
	background: rgba(0,0,0,.05);
}
h1 {
	float: left;
}
#header h1 a {
	text-decoration: none;
}
#nav {
	float: right;
}
#nav ul li {
	float: left;
	margin-left: 20px;
	font-size: 0.777777778em; /* 14 / 18 */
	font-weight: bold;
}

/*---------------------------------------------------------
	Sections
------------------------------------------------------------ */
div.section {
	margin: 20px 0;
	line-height: 1.8em;
}
h2 {
	margin-bottom: 5px;
	color: #61594a;
}
code {
	font-family: Consolas, monospace;
	font-size: 16px;
}
code span {
	color: #aa9d89;
}
pre {
	margin: 5px 0 20px 0;
	padding: 10px;
	background: #efecdc;
	border: 1px solid #dcd7be;
}
/*---------------------------------------------------------
	Footer
------------------------------------------------------------ */
#footer {
	margin: 40px 0 20px 0;
	padding-top: 15px;
	font-size: 0.777777778em; /* 14 / 18 */
	border-top: 1px solid #e0dac3;
}