/*---------------------------------------------------------
	1. Reset
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*---------------------------------------------------------
	Body and links
------------------------------------------------------------ */
body {
	font-size: 87.5%;
	font-family: Helvetica, Arial, sans-serif;
	color: #6d6455;
	background: #e3e2ce url(/images/bg.png);
}
a:link,
a:visited {
	color: #494339;
	text-decoration: underline;
}
a:hover {
	color: #39342c;
}

/*---------------------------------------------------------
	Basic Structure
------------------------------------------------------------ */
#wrapper {
	max-width: 660px;
	margin: 0 auto;
	padding: 0 20px;
}
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*---------------------------------------------------------
	Header
------------------------------------------------------------ */
#header {
	padding: 20px 0;
	border-bottom: 1px solid #dcd6bf;
}
h1 {
	float: left;
	font-family: 'IM Fell DW Pica SC', serif;
	font-size: 2.4em;
	font-weight: 400;

}
#header h1 a {
	text-decoration: none;
	color: #817768;
}
#nav {
	margin-top: 10px;
	float: right;
}
#nav ul li {
	float: left;
	margin-left: 20px;
}
#nav a {
	color: #6d6455;
	text-decoration: none;
	border-bottom: 1px dotted;
}
#nav a:hover {
	color: #494339;
	border-bottom: 1px solid;
}

/*---------------------------------------------------------
	Sections
------------------------------------------------------------ */
div.section {
	margin: 30px 0;
	line-height: 1.8em;
}
h2 {
	margin-bottom: 10px;
	font-size: 1.285714286em; /* 18 / 14 */
	color: #706858;
}
body#home h2 {
	font-size: 1.142857143em; /* 16 / 14 */
}
h3 {
	margin: 30px 0 10px 0;
	font-size: 1.142857143em; /* 16 / 14 */
	color: #706858;
}
h4 {
	margin: 30px 0 5px 0;
	color: #867a62;
	text-transform: uppercase;
}
code {
	padding: 3px;
	font-family: Consolas, monospace;
	font-size: 14px;
	background: #eeefd7;
}
code span {
	color: #aa9d89;
}
pre {
	margin: 5px 0 20px 0;
	padding: 10px;
	background: #efecdc;
	border: 1px solid #dcd7be;
}
pre code {
	background: none;
	padding: 0;
}
p {
	margin-bottom: 10px;
}
/*---------------------------------------------------------
	Footer
------------------------------------------------------------ */
#footer {
	margin: 0 0 30px 0;
	padding-top: 10px;
	line-height: 1.8em;
	font-size: 0.857142857em; /* 12 / 14 */
	border-top: 1px solid #dcd6bf;
}
/*---------------------------------------------------------
	Extras
------------------------------------------------------------ */
ul.bulleted {
	list-style: outside;
	padding-left: 25px;
	margin-bottom: 15px;
}
/*---------------------------------------------------------
	Manual
------------------------------------------------------------ */
div.help {
	margin: 30px 0;
	padding: 20px;
	line-height: 1.6em;
	color: #444;
	background: #d5e5ed;
	border: 1px solid #bed8e6;
}
div.help a {
	color: #3e5c6b;
}
div.help a:hover {
	color: #334b58;
}
div.toc ul {
	list-style: outside;
	list-style-type: disc;
	margin: 0 0 0 20px;
}
div.toc ul ul {
	list-style-type: circle;
}
div.toc ul ul ul {
	list-style-type: square;
}
div.configure dl {
	margin: 20px 0;
}
div.configure dt {
	font-weight: bold;
}
div.configure dd.example {
	text-decoration: italic;
}