/*---------------------------------------------------------
	1. Reset
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*---------------------------------------------------------
	Body and links
------------------------------------------------------------ */
body {
	font-size: 87.5%;
	font-family: Helvetica, Arial, sans-serif;
	color: #6d6455;
	background: #e3e2ce url(/images/bg.png);
}
a:link,
a:visited {
	color: #494339;
	text-decoration: underline;
}
a:hover {
	color: #39342c;
}

/*---------------------------------------------------------
	Basic Structure
------------------------------------------------------------ */
#wrapper {
	max-width: 560px;
	margin: 0 auto;
	padding: 0 20px;
}
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*---------------------------------------------------------
	Header
------------------------------------------------------------ */
#header {
	padding: 20px 0;
	border-bottom: 1px solid #dcd6bf;
}
h1 {
	float: left;
	font-family: 'IM Fell DW Pica SC', serif;
	font-size: 2.4em;
	font-weight: 400;

}
#header h1 a {
	text-decoration: none;
	color: #817768;
}
#nav {
	margin-top: 10px;
	float: right;
}
#nav ul li {
	float: left;
	margin-left: 20px;
}
#nav a {
	color: #6d6455;
	text-decoration: none;
	border-bottom: 1px dotted;
}
#nav a:hover {
	color: #494339;
	border-bottom: 1px solid;
}

/*---------------------------------------------------------
	Sections
------------------------------------------------------------ */
div.section {
	margin: 30px 0;
	line-height: 1.8em;
}
h2 {
	font-size: 1.142857143em; /* 16 / 14 */
	margin-bottom: 5px;
	color: #706858;
}
h3 {
	margin: 30px 0 10px 0;
	padding-bottom: 5px;
	color: #706858;
	border-bottom: 1px solid #dcd6bf;
}
h4 {
	margin: 30px 0 5px 0;
	color: #867a62;
	text-transform: uppercase;
	font-size: 0.857142857em; /* 12 / 14 */
}
code {
	font-family: Consolas, monospace;
	font-size: 14px;
}
code span {
	color: #aa9d89;
}
pre {
	margin: 5px 0 20px 0;
	padding: 10px;
	background: #efecdc;
	border: 1px solid #dcd7be;
}
p { 
	margin-bottom: 10px;
}
/*---------------------------------------------------------
	Footer
------------------------------------------------------------ */
#footer {
	margin: 0 0 30px 0;
	padding-top: 10px;
	line-height: 1.8em;
	font-size: 0.857142857em; /* 12 / 14 */
	border-top: 1px solid #dcd6bf;
}
/*---------------------------------------------------------
	Extras
------------------------------------------------------------ */
ul.bulleted {
	list-style: outside;
	padding-left: 25px;
	margin-bottom: 15px;
}