<!DOCTYPE html>
<html <?php language_attributes( 'html' ) ?>>
<head>
	<meta charset="<?php bloginfo( 'charset' ); ?>" />
	<title><?php wp_title(); ?></title>	

	<!-- WordPress -->
	<link rel="pingback" href="<?php bloginfo( 'pingback_url' ); ?>" />
	<?php wp_head(); ?>
</head>
<body <?php body_class(); ?>>
<div id="container">
	<div id="header" class="clear">
		<div id="title">
			<?php if ( is_front_page() ) echo( '<h1>' ); ?>
				<a href="<?php echo home_url(); ?>"><?php bloginfo( 'name' ); ?></a>
			<?php if ( is_front_page() ) echo( '</h1>' ); ?>
		</div>
		<?php
			wp_nav_menu(
				array(
					'theme_location'  => 'nav-1',
					'container_id'    => 'navigation',
					'container_class' => 'clear',
					'menu_class'      => 'nav',
					'depth'           => '2'
					)
				);
		?>
	</div><!--end header-->
